<h3>Rômulo Ferreira Moura Maia</h3>
<h4>Infelizmente soube dessa vaga hoje (12/03)</h4>

<h1>Predição de roubos de carros</h1>

<h3>Objetivo: dado como entrada as features hora_dia, dia_semana, bairro e cidade, compute e exiba a quantidade de roubos de carros na próxima hora</h3>

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

<h5>Lendo os 12 arquivos CSV</h5>

In [3]:
df1 = pd.read_csv('Dados/DadosBO_2019_1(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df2 = pd.read_csv('Dados/DadosBO_2019_2(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df3 = pd.read_csv('Dados/DadosBO_2019_3(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df4 = pd.read_csv('Dados/DadosBO_2019_4(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df5 = pd.read_csv('Dados/DadosBO_2019_5(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df6 = pd.read_csv('Dados/DadosBO_2019_6(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df7 = pd.read_csv('Dados/DadosBO_2019_7(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df8 = pd.read_csv('Dados/DadosBO_2019_8(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df9 = pd.read_csv('Dados/DadosBO_2019_9(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df10= pd.read_csv('Dados/DadosBO_2019_10(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df11= pd.read_csv('Dados/DadosBO_2019_11(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')
df12= pd.read_csv('Dados/DadosBO_2019_12(ROUBO DE VEÍCULOS).csv', encoding='ISO-8859-1')

<h5>Concatenando os 12 dataframes em um só</h5>

In [4]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

<h3>1. Explorando os dados</h3>

In [24]:
df.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2018,4590,4590/2018,31/12/2018 23:55:04,01/01/2019 00:04:02,31/12/2018,22:30,A NOITE,31/12/2018,31/12/2018 23:55:04,...,FUL0185,SP,SAO PAULO,Vermelho,VW/FOX 1.0 GII,2014.0,2014.0,AUTOMOVEL,NaN,NaN
1,2018,8741,8741/2018,31/12/2018 23:50:15,01/01/2019 00:06:43,31/12/2018,23:30,A NOITE,31/12/2018,31/12/2018 23:50:15,...,FJT8505,SP,SAO PAULO,Preta,CHEVROLET/ONIX 1.0MT LT,2013.0,2013.0,AUTOMOVEL,NaN,NaN
2,2018,3396,3396/2018,31/12/2018 23:46:32,01/01/2019 00:09:17,31/12/2018,22:00,A NOITE,31/12/2018,31/12/2018 23:46:32,...,PXO8626,SP,HORTOLANDIA,Marrom,HYUNDAI/HB20 1.0M COMFOR,2016.0,2016.0,AUTOMOVEL,NaN,NaN
3,2018,5767,5767/2018,31/12/2018 23:52:58,01/01/2019 00:18:30,31/12/2018,23:20,A NOITE,31/12/2018,31/12/2018 23:52:58,...,FOX4452,SP,SAO PAULO,Vermelho,VW/FOX 1.0,2007.0,2008.0,AUTOMOVEL,NaN,NaN
4,2018,12332,12332/2018,31/12/2018 23:57:00,01/01/2019 00:23:55,31/12/2018,22:45,A NOITE,31/12/2018,31/12/2018 23:57:00,...,FEM0368,SP,CAMPINAS,Vermelho,HONDA/CG 150 TITAN ESD,2012.0,2013.0,MOTOCICLO,NaN,NaN

<h5>Breve descrição geral do dataframe</h5>

In [25]:
df.describe()

,ANO_BO,NUM_BO,NUMERO,RG,IDADE,RELACIONAMENTO,PARENTESCO,ANO_FABRICACAO,ANO_MODELO,QUANT_CELULAR,MARCA_CELULAR
count,120554.000000,1.205540e+05,1.205180e+05,6.120000e+02,662.000000,0.0,0.0,116560.000000,109149.000000,0.0,0.0
mean,2018.999569,7.701180e+04,1.117497e+03,5.377082e+07,24.018127,NaN,NaN,1445.009943,1406.792220,NaN,NaN
std,0.020764,2.803016e+05,5.521084e+04,6.047994e+07,10.482734,NaN,NaN,905.419721,923.335388,NaN,NaN
min,2018.000000,1.000000e+00,0.000000e+00,2.924582e+06,13.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
25%,2019.000000,1.178000e+03,1.500000e+01,3.902380e+07,17.000000,NaN,NaN,0.000000,0.000000,NaN,NaN
50%,2019.000000,2.855000e+03,1.240000e+02,4.961931e+07,20.000000,NaN,NaN,2011.000000,2011.000000,NaN,NaN
75%,2019.000000,5.909000e+03,5.000000e+02,5.445653e+07,27.000000,NaN,NaN,2015.000000,2015.000000,NaN,NaN
max,2019.000000,3.000212e+06,1.350682e+07,5.701472e+08,80.000000,NaN,NaN,2019.000000,2020.000000,NaN,NaN

<h5>Numéro de linhas e colunas do dataframe</h5>

In [18]:
df.shape

(120554, 57)

In [19]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            11249, 11250, 11251, 11252, 11253, 11254, 11255, 11256, 11257,
            11258],
           dtype='int64', length=120554)

<h5>Nome de todas as colunas</h5>

In [20]:
df.columns

Index(['ANO_BO', 'NUM_BO', 'NUMERO_BOLETIM', 'BO_INICIADO', 'BO_EMITIDO',
       'DATAOCORRENCIA', 'HORAOCORRENCIA', 'PERIDOOCORRENCIA',
       'DATACOMUNICACAO', 'DATAELABORACAO', 'BO_AUTORIA', 'FLAGRANTE',
       'NUMERO_BOLETIM_PRINCIPAL', 'LOGRADOURO', 'NUMERO', 'BAIRRO', 'CIDADE',
       'UF', 'LATITUDE', 'LONGITUDE', 'DESCRICAOLOCAL', 'EXAME', 'SOLUCAO',
       'DELEGACIA_NOME', 'DELEGACIA_CIRCUNSCRICAO', 'ESPECIE', 'RUBRICA',
       'DESDOBRAMENTO', 'STATUS', 'NOMEPESSOA', 'TIPOPESSOA', 'VITIMAFATAL',
       'RG', 'RG_UF', 'NATURALIDADE', 'NACIONALIDADE', 'SEXO',
       'DATANASCIMENTO', 'IDADE', 'ESTADOCIVIL', 'PROFISSAO', 'GRAUINSTRUCAO',
       'CORCUTIS', 'NATUREZAVINCULADA', 'TIPOVINCULO', 'RELACIONAMENTO',
       'PARENTESCO', 'PLACA_VEICULO', 'UF_VEICULO', 'CIDADE_VEICULO',
       'DESCR_COR_VEICULO', 'DESCR_MARCA_VEICULO', 'ANO_FABRICACAO',
       'ANO_MODELO', 'DESCR_TIPO_VEICULO', 'QUANT_CELULAR', 'MARCA_CELULAR'],
      dtype='object')

<h5>Informações sobre cada coluna</h5>

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120554 entries, 0 to 11258
Data columns (total 57 columns):
ANO_BO                      120554 non-null int64
NUM_BO                      120554 non-null int64
NUMERO_BOLETIM              120554 non-null object
BO_INICIADO                 120554 non-null object
BO_EMITIDO                  120554 non-null object
DATAOCORRENCIA              120554 non-null object
HORAOCORRENCIA              116308 non-null object
PERIDOOCORRENCIA            120554 non-null object
DATACOMUNICACAO             120554 non-null object
DATAELABORACAO              120554 non-null object
BO_AUTORIA                  120554 non-null object
FLAGRANTE                   120554 non-null object
NUMERO_BOLETIM_PRINCIPAL    14258 non-null object
LOGRADOURO                  111109 non-null object
NUMERO                      120518 non-null float64
BAIRRO                      120278 non-null object
CIDADE                      120518 non-null object
UF                          120518 non-null object
LATITUDE                    109631 non-null object
LONGITUDE                   109631 non-null object
DESCRICAOLOCAL              120554 non-null object
EXAME                       32402 non-null object
SOLUCAO                     120554 non-null object
DELEGACIA_NOME              120554 non-null object
DELEGACIA_CIRCUNSCRICAO     120554 non-null object
ESPECIE                     120554 non-null object
RUBRICA                     120554 non-null object
DESDOBRAMENTO               15829 non-null object
STATUS                      120550 non-null object
NOMEPESSOA                  1027 non-null object
TIPOPESSOA                  1027 non-null object
VITIMAFATAL                 1027 non-null object
RG                          612 non-null float64
RG_UF                       624 non-null object
NATURALIDADE                582 non-null object
NACIONALIDADE               510 non-null object
SEXO                        1024 non-null object
DATANASCIMENTO              608 non-null object
IDADE                       662 non-null float64
ESTADOCIVIL                 587 non-null object
PROFISSAO                   447 non-null object
GRAUINSTRUCAO               250 non-null object
CORCUTIS                    1027 non-null object
NATUREZAVINCULADA           1027 non-null object
TIPOVINCULO                 1027 non-null object
RELACIONAMENTO              0 non-null float64
PARENTESCO                  0 non-null float64
PLACA_VEICULO               84208 non-null object
UF_VEICULO                  85217 non-null object
CIDADE_VEICULO              84683 non-null object
DESCR_COR_VEICULO           87547 non-null object
DESCR_MARCA_VEICULO         84800 non-null object
ANO_FABRICACAO              116560 non-null float64
ANO_MODELO                  109149 non-null float64
DESCR_TIPO_VEICULO          87546 non-null object
QUANT_CELULAR               0 non-null float64
MARCA_CELULAR               0 non-null float64
dtypes: float64(9), int64(2), object(46)
memory usage: 53.3+ MB

<h5>Verificando quantidade de valores faltantes em cada coluna</h5>

In [46]:
df.isnull().sum()

ANO_BO                           0
NUM_BO                           0
NUMERO_BOLETIM                   0
BO_INICIADO                      0
BO_EMITIDO                       0
DATAOCORRENCIA                   0
HORAOCORRENCIA                4246
PERIDOOCORRENCIA                 0
DATACOMUNICACAO                  0
DATAELABORACAO                   0
BO_AUTORIA                       0
FLAGRANTE                        0
NUMERO_BOLETIM_PRINCIPAL    106296
LOGRADOURO                    9445
NUMERO                          36
BAIRRO                         276
CIDADE                          36
UF                              36
LATITUDE                     10923
LONGITUDE                    10923
DESCRICAOLOCAL                   0
EXAME                        88152
SOLUCAO                          0
DELEGACIA_NOME                   0
DELEGACIA_CIRCUNSCRICAO          0
ESPECIE                          0
RUBRICA                          0
DESDOBRAMENTO               104725
STATUS                           4
NOMEPESSOA                  119527
TIPOPESSOA                  119527
VITIMAFATAL                 119527
RG                          119942
RG_UF                       119930
NATURALIDADE                119972
NACIONALIDADE               120044
SEXO                        119530
DATANASCIMENTO              119946
IDADE                       119892
ESTADOCIVIL                 119967
PROFISSAO                   120107
GRAUINSTRUCAO               120304
CORCUTIS                    119527
NATUREZAVINCULADA           119527
TIPOVINCULO                 119527
RELACIONAMENTO              120554
PARENTESCO                  120554
PLACA_VEICULO                36346
UF_VEICULO                   35337
CIDADE_VEICULO               35871
DESCR_COR_VEICULO            33007
DESCR_MARCA_VEICULO          35754
ANO_FABRICACAO                3994
ANO_MODELO                   11405
DESCR_TIPO_VEICULO           33008
QUANT_CELULAR               120554
MARCA_CELULAR               120554
dtype: int64

In [55]:
#não há valores duplicados
df.duplicated().sum()

0

<h5>Removendo colunas que possuem todos os valores faltantes</h5>

In [5]:
df.drop('RELACIONAMENTO', inplace=True, axis=1)
df.drop('PARENTESCO', inplace=True, axis=1)
df.drop('QUANT_CELULAR', inplace=True, axis=1)
df.drop('MARCA_CELULAR', inplace=True, axis=1)

In [6]:
df.shape

(120554, 53)

<h5>Removendo colunas de dados possivelmente não sensíveis e encontrando sua correlação</h5>
Removi colunas com mais de 30.000 valores faltantes e que eu julguei serem pouco relevantes.

In [7]:
df.dropna(axis=1, inplace=True, thresh=30000)

In [8]:
df.shape

(120554, 35)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120554 entries, 0 to 11258
Data columns (total 35 columns):
ANO_BO                     120554 non-null int64
NUM_BO                     120554 non-null int64
NUMERO_BOLETIM             120554 non-null object
BO_INICIADO                120554 non-null object
BO_EMITIDO                 120554 non-null object
DATAOCORRENCIA             120554 non-null object
HORAOCORRENCIA             116308 non-null object
PERIDOOCORRENCIA           120554 non-null object
DATACOMUNICACAO            120554 non-null object
DATAELABORACAO             120554 non-null object
BO_AUTORIA                 120554 non-null object
FLAGRANTE                  120554 non-null object
LOGRADOURO                 111109 non-null object
NUMERO                     120518 non-null float64
BAIRRO                     120278 non-null object
CIDADE                     120518 non-null object
UF                         120518 non-null object
LATITUDE                   109631 non-null object
LONGITUDE                  109631 non-null object
DESCRICAOLOCAL             120554 non-null object
EXAME                      32402 non-null object
SOLUCAO                    120554 non-null object
DELEGACIA_NOME             120554 non-null object
DELEGACIA_CIRCUNSCRICAO    120554 non-null object
ESPECIE                    120554 non-null object
RUBRICA                    120554 non-null object
STATUS                     120550 non-null object
PLACA_VEICULO              84208 non-null object
UF_VEICULO                 85217 non-null object
CIDADE_VEICULO             84683 non-null object
DESCR_COR_VEICULO          87547 non-null object
DESCR_MARCA_VEICULO        84800 non-null object
ANO_FABRICACAO             116560 non-null float64
ANO_MODELO                 109149 non-null float64
DESCR_TIPO_VEICULO         87546 non-null object
dtypes: float64(3), int64(2), object(30)
memory usage: 33.1+ MB

In [10]:
df.isnull().sum()

ANO_BO                         0
NUM_BO                         0
NUMERO_BOLETIM                 0
BO_INICIADO                    0
BO_EMITIDO                     0
DATAOCORRENCIA                 0
HORAOCORRENCIA              4246
PERIDOOCORRENCIA               0
DATACOMUNICACAO                0
DATAELABORACAO                 0
BO_AUTORIA                     0
FLAGRANTE                      0
LOGRADOURO                  9445
NUMERO                        36
BAIRRO                       276
CIDADE                        36
UF                            36
LATITUDE                   10923
LONGITUDE                  10923
DESCRICAOLOCAL                 0
EXAME                      88152
SOLUCAO                        0
DELEGACIA_NOME                 0
DELEGACIA_CIRCUNSCRICAO        0
ESPECIE                        0
RUBRICA                        0
STATUS                         4
PLACA_VEICULO              36346
UF_VEICULO                 35337
CIDADE_VEICULO             35871
DESCR_COR_VEICULO          33007
DESCR_MARCA_VEICULO        35754
ANO_FABRICACAO              3994
ANO_MODELO                 11405
DESCR_TIPO_VEICULO         33008
dtype: int64

<h5>Tratando valores faltantes com a média.</h5>

In [ ]:
df_novo = df
df_novo.fillna(df_novo.mean(0))
df_novo.isnull().sum()

<h5>Transformando variáveis categóricas em numéricas</h5>

In [94]:
from sklearn.preprocessing import LabelEncoder

In [95]:
label_encoder1 = LabelEncoder()
label_encoder2 = LabelEncoder()
label_encoder3 = LabelEncoder()
label_encoder4 = LabelEncoder()
label_encoder5 = LabelEncoder()
label_encoder6 = LabelEncoder()
label_encoder7 = LabelEncoder()
label_encoder8 = LabelEncoder()
label_encoder9 = LabelEncoder()
label_encoder10 = LabelEncoder()
label_encoder11 = LabelEncoder()

label_encoder13 = LabelEncoder()
label_encoder14 = LabelEncoder()
label_encoder15 = LabelEncoder()
label_encoder16 = LabelEncoder()
label_encoder17 = LabelEncoder()
label_encoder18 = LabelEncoder()
label_encoder19 = LabelEncoder()
label_encoder20 = LabelEncoder()
label_encoder21 = LabelEncoder()
label_encoder22 = LabelEncoder()
label_encoder23 = LabelEncoder()
label_encoder24 = LabelEncoder()
label_encoder25 = LabelEncoder()
label_encoder26 = LabelEncoder()
label_encoder27 = LabelEncoder()

In [ ]:
df['NUMERO_BOLETIM'] = label_encoder1.fit_transform(df['NUMERO_BOLETIM'])
df['BO_INICIADO'] = label_encoder2.fit_transform(df['BO_INICIADO'])
df['BO_EMITIDO'] = label_encoder3.fit_transform(df['BO_EMITIDO'])
df['DATAOCORRENCIA'] = label_encoder4.fit_transform(df['DATAOCORRENCIA'])
df['HORAOCORRENCIA'] = label_encoder5.fit_transform(df['HORAOCORRENCIA'])
df['PERIDOOCORRENCIA'] = label_encoder6.fit_transform(df['PERIDOOCORRENCIA'])
df['DATACOMUNICACAO'] = label_encoder7.fit_transform(df['DATACOMUNICACAO'])
df['DATAELABORACAO'] = label_encoder8.fit_transform(df['DATAELABORACAO'])
df['BO_AUTORIA'] = label_encoder9.fit_transform(df['BO_AUTORIA'])
df['FLAGRANTE'] = label_encoder10.fit_transform(df['FLAGRANTE'])

df['LOGRADOURO'] = label_encoder11.fit_transform(df['NUMERO_BOLETIM'])
df['BAIRRO'] = label_encoder13.fit_transform(df['BAIRRO'])
df['CIDADE'] = label_encoder14.fit_transform(df['CIDADE'])
df['UF'] = label_encoder15.fit_transform(df['UF'])
df['LATITUDE'] = label_encoder16.fit_transform(df['LATITUDE'])
df['LONGITUDE'] = label_encoder17.fit_transform(df['LONGITUDE'])
df['DESCRICAOLOCAL'] = label_encoder18.fit_transform(df['DESCRICAOLOCAL'])
df['DELEGACIA_NOME'] = label_encoder19.fit_transform(df['DELEGACIA_NOME'])
df['ESPECIE'] = label_encoder20.fit_transform(df['ESPECIE'])

df['RUBRICA'] = label_encoder21.fit_transform(df['RUBRICA'])
df['STATUS'] = label_encoder22.fit_transform(df['STATUS'])
df['PLACA_VEICULO'] = label_encoder23.fit_transform(df['PLACA_VEICULO'])
df['UF_VEICULO'] = label_encoder24.fit_transform(df['UF_VEICULO'])
df['CIDADE_VEICULO'] = label_encoder25.fit_transform(df['CIDADE_VEICULO'])
df['DESCR_COR_VEICULO'] = label_encoder26.fit_transform(df['DESCR_COR_VEICULO'])
df['DESCR_MARCA_VEICULO'] = label_encoder27.fit_transform(df['DESCR_MARCA_VEICULO'])